<html>
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
    <%= message %>
    THE secret number is <%= secret_number %>

    <form>
      <input type="text" name="guess" placeholder="take a guess">
      <input type="submit" value="Guess!">
    </form>

  </body>
</html>
